<topbar class="ui sticky fixed">
    <div class="ui container">
        <div class="ui text menu">

            <mobilelogo>
                <a href="/home">
                    <img src="https://connect.qualia.com/images/topbar-mobile-logo.png"
                         srcset="https://connect.qualia.com/images/topbar-mobile-logo.png 1x, https://connect.qualia.com/images/topbar-mobile-logo@2x.png 2x"
                         alt="Qualia logo">
                </a>
            </mobilelogo>
            <pagelogo>
                <a href="/home">
                    <img src="https://connect.qualia.com/images/topbar-logo.png"
                         srcset="https://connect.qualia.com/images/topbar-logo.png 1x, https://connect.qualia.com/images/topbar-logo@2x.png 2x"
                         alt="Qualia logo">
                </a>
            </pagelogo>

            <openmobilemenu class="icon link item">
                <i class="sidebar icon"></i>
            </openmobilemenu>

        </div>
    </div>
</topbar>
