 <div class="ui right rail" style="" id="contactFormShowCaseTemplate">
        <div class="ui sticky" style="width: 239px !important; height: 433.492px !important; left: 706px;">
            <tasksummary class="ui fluid card">
                <div class="image">
                    <img src="/images/artwork/avatar1.png">
                </div>
                <div class="content">
                    <table class="ui compact very basic striped table">
                        <thead>
                        <tr>
                            <th colspan="2">
                                <i class="info circle flat icon" data-offset="15"></i>
                                About This Form
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <p>Your settlement agency will use this information to prepare documents for your closing.</p>
                                <div class="ui divider"></div>
                                <p>If you have any questions please contact
                                    <b>Angelina Barbieri</b>
                                    at R &amp; P Settlement Group, LLC.
                                </p>

                                <helpmessage class="ui fluid basic button">Send Message</helpmessage>
                                <composemessagepopup class="ui basic titled popup">

                                </composemessagepopup>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </tasksummary>
        </div>




    </div>





    <h4 class="ui dividing header">
        Your Submission from Jun. 24th at 1:05 AM
    </h4>
    <div class="indent">
        <reviewsegment class="ui segment" id="connectPersonalInfoReview">






            <div class="ui tabular dashboard stackable menu">

                <a class="item active" data-tab="individual">

                    Personal Info

                </a>




                <a class="item" data-tab="addresses">Addresses</a>


                <a class="item" data-tab="borrowerAdditionalQuestions">Additional Questions</a>


            </div>


            <information>

                <div class="ui tab active" data-tab="individual">
                    <table class="ui very basic definition celled table">
                        <tbody>
                        <tr>
                            <td>Full Name</td>
                            <td>
                                Liping

                                Chen

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Citizenship
                            </td>
                            <td>
                                U.S. Citizen
                            </td>
                        </tr>
                        <tr>
                            <td>SSN</td>
                            <td>

                                ***-**-**68

                            </td>
                        </tr>

                        <tr>
                            <td>Gender</td>
                            <td>Male</td>
                        </tr>

                        <tr>
                            <td>Marital Status</td>
                            <td>Single</td>
                        </tr>
                        <tr>
                            <td>Cell #</td>
                            <td>

                                (240) 549-9487

                            </td>
                        </tr>
                        <tr>
                            <td>Home #</td>
                            <td>

                                <span class="empty">Not sent</span>

                            </td>
                        </tr>
                        <tr>
                            <td>Work #</td>
                            <td>

                                <span class="empty">Not sent</span>

                            </td>
                        </tr>
                        <tr>
                            <td>Fax #</td>
                            <td>

                                <span class="empty">Not sent</span>

                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>

                                flamechen123@gmail.com

                            </td>
                        </tr>

                        <tr>
                            <td>
                                Date of Birth
                            </td>
                            <td>
                                02/21/1994
                            </td>
                        </tr>


                        <tr>
                            <td>
                                POA Given
                            </td>
                            <td>
                                No
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="ui tab" data-tab="addresses">
                    <div class="ui display form">
                        <div class="field">
                            <label>Current Address</label>
                            <div class="large ui secondary segment value">
                                8120 Craddock Road<br>Greenbelt, MD 20770
                            </div>
                        </div>
                        <div class="field">
                            <label>Forwarding Address</label>
                            <div class="large ui secondary segment value">

                                Same as Current

                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui tab" data-tab="groundRentFrontFoot">
                    <div class="ui display form">
                        <table class="ui very basic definition celled table">
                            <tbody>
                            <tr>
                                <td>Subject to Ground Rent?</td>
                                <td>
                                    No
                                </td>
                            </tr>

                            <tr>
                                <td>Subject to Front Foot Benefit?</td>
                                <td>
                                    No
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ui tab" data-tab="maritalHistory">
                    <div class="ui display form">
                        <table class="ui very basic definition celled table">
                            <tbody>

                            <tr>
                                <td>Previous Marriages?</td>
                                <td>None</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ui tab" data-tab="borrowerAdditionalQuestions">
                    <div class="ui display form">
                        <table class="ui very basic fixed definition celled table">
                            <tbody>






                            <tr>
                                <td>Property will be Primary Residence?</td>
                                <td>
                                    Yes
                                </td>
                            </tr>




                            <tr>
                                <td>First time home buyer?</td>
                                <td>
                                    Yes
                                </td>
                            </tr>


                            <tr>
                                <td>First time home buyer in MD?</td>
                                <td>
                                    Yes
                                </td>
                            </tr>



                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ui tab" data-tab="sellerAdditionalQuestions">
                    <div class="ui display form">
                        <table class="ui very basic fixed definition celled table">
                            <tbody>

                            <tr>
                                <td>Attending the Closing?</td>
                                <td>
                                    Yes
                                </td>
                            </tr>





                            <tr>
                                <td>Currently Getting Divorced?</td>
                                <td>
                                    No
                                </td>
                            </tr>


                            <tr>
                                <td>Property is Primary Residence?</td>
                                <td>
                                    Yes
                                </td>
                            </tr>




                            <tr>
                                <td>Water Company</td>
                                <td>

                                </td>
                            </tr>


                            <tr>
                                <td>Sewage Company</td>
                                <td>

                                </td>
                            </tr>



                            <tr>
                                <td>Any Vested Owners Deceased?</td>
                                <td>
                                    No
                                </td>
                            </tr>


                            <tr>
                                <td>Seller Providing Home Warranty?</td>
                                <td>
                                    No
                                </td>
                            </tr>



                            <tr>
                                <td>In-State Resident</td>
                                <td>
                                    Yes
                                </td>
                            </tr>


                            <tr>
                                <td>Has Changed Name Since Purchase?</td>
                                <td>
                                    No
                                </td>
                            </tr>





                            <tr>
                                <td>Declared Bankruptcy</td>
                                <td>No</td>
                            </tr>



                            <tr>
                                <td>Married When Property Acquired?</td>
                                <td>
                                    No
                                </td>
                            </tr>









                            </tbody>
                        </table>
                    </div>
                </div>
            </information>




        </reviewsegment>
    </div>



    <h4 class="ui dividing header">
        Revise Submission
    </h4>
    <div class="indent">

        <div class="ui secondary segment">

            <p>
                If you think you may have entered something incorrectly, then you may update your submission.
            </p>

            <button class="ui huge primary button revise-button">
                Modify
            </button>
        </div>
    </div>