<app class="qualia layout standard container" id="orderTasks">

    <topbar class="ui sticky fixed">
        <div class="ui container">
            <div class="ui text menu">

                <mobilelogo>
                    <a href="/home">
                        <img src="https://connect.qualia.com/images/topbar-mobile-logo.png" srcset="https://connect.qualia.com/images/topbar-mobile-logo.png 1x, https://connect.qualia.com/images/topbar-mobile-logo@2x.png 2x" alt="Qualia logo">
                    </a>
                </mobilelogo>
                <pagelogo>
                    <a href="/home">
                        <img src="https://connect.qualia.com/images/topbar-logo.png" srcset="https://connect.qualia.com/images/topbar-logo.png 1x, https://connect.qualia.com/images/topbar-logo@2x.png 2x" alt="Qualia logo">
                    </a>
                </pagelogo>

                <openmobilemenu class="icon link item">
                    <i class="sidebar icon"></i>
                </openmobilemenu>


                <a class="active item" href="/order-list">
                    Orders
                </a>

                <a class="item" href="/reports">
                    Reports
                </a>

                <a class="item manage" href="/manage">
                    Manage
                </a>

                <div class="right menu">




                    <notifications class="item link">
                        <i class="alarm outline icon"></i>

                        <div class="ui green floating label">33</div>

                    </notifications>

                    <notificationpopup class="ui popup">
                        <preferences>Preferences</preferences>
                        <div class="ui header">Activity</div>
                        <div class="content">

                            <div class="ui activity feed">

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            R &amp; P Settlement Group, LLC requests your feedback for <b>9354 Westering Sun</b>.


                                        </div>
                                        <div class="date">
                                            07/12/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="lock circle flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            Order Closed for <b>9354 Westering Sun</b>.


                                        </div>
                                        <div class="date">
                                            07/11/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="envelope flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            <b>Angelina Barbieri</b> has sent you a message for <b>9354 Westering Sun</b>.


                                        </div>
                                        <div class="date">
                                            07/08/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            Reminder: R &amp; P Settlement Group, LLC requested information for <b>9354 Westering Sun</b>.


                                        </div>
                                        <div class="date">
                                            06/21/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            R &amp; P Settlement Group, LLC requires you to upload photo id for <b>9354 Westering Sun</b>.


                                        </div>
                                        <div class="date">
                                            06/18/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            R &amp; P Settlement Group, LLC requires you to confirm lender contact information for <b>9354 Westering Sun</b>.


                                        </div>
                                        <div class="date">
                                            06/18/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            R &amp; P Settlement Group, LLC requires you to confirm personal info for <b>9354 Westering Sun</b>.


                                        </div>
                                        <div class="date">
                                            06/18/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            R &amp; P Settlement Group, LLC requires you to select title vesting for <b>9354 Westering Sun</b>.


                                        </div>
                                        <div class="date">
                                            06/18/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="envelope flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            <b>Angelina Barbieri</b> has sent you a message for <b>9354 Westering Sun</b>.


                                        </div>
                                        <div class="date">
                                            06/18/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="document share flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            <b>R &amp; P Settlement Group, LLC</b> shared a document with you for <b>9354 Westering Sun</b>.


                                        </div>
                                        <div class="date">
                                            06/18/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="add user flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            <b>R &amp; P Settlement Group, LLC</b> added you as a <b>Buyer</b> for <b>9354 Westering Sun</b>.


                                        </div>
                                        <div class="date">
                                            06/18/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="envelope flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            <b>Angelina Barbieri</b> has sent you a message for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            06/10/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="warning icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            You updated your Two Factor Authentication settings.


                                        </div>
                                        <div class="date">
                                            06/10/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="envelope flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            <b>James Malone</b> has sent you a message for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            06/10/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            Reminder: R &amp; P Settlement Group, LLC requested information for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            06/08/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="envelope flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            <b>Angelina Barbieri</b> has sent you a message for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            06/07/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="envelope flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            <b>James Malone</b> has sent you a message for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            06/06/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            Reminder: R &amp; P Settlement Group, LLC requires you to upload photo id for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            06/06/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            Reminder: R &amp; P Settlement Group, LLC requires you to select title vesting for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            06/06/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            Reminder: R &amp; P Settlement Group, LLC requires you to confirm personal info for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            06/06/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            Reminder: R &amp; P Settlement Group, LLC requires you to confirm lender contact information for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            06/06/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="email2 flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            <b>Angelina Barbieri</b> has sent you an <b>urgent message</b> for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            06/06/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            Reminder: R &amp; P Settlement Group, LLC requires you to select title vesting for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            06/04/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            Reminder: R &amp; P Settlement Group, LLC requires you to confirm personal info for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            06/04/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            Reminder: R &amp; P Settlement Group, LLC requires you to confirm lender contact information for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            06/04/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            Reminder: R &amp; P Settlement Group, LLC requires you to upload photo id for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            06/04/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            R &amp; P Settlement Group, LLC requires you to upload photo id for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            05/31/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            R &amp; P Settlement Group, LLC requires you to confirm lender contact information for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            05/31/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            R &amp; P Settlement Group, LLC requires you to confirm personal info for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            05/31/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="home search flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            R &amp; P Settlement Group, LLC requires you to select title vesting for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            05/31/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="envelope flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            <b>Angelina Barbieri</b> has sent you a message for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            05/31/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="document share flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            <b>R &amp; P Settlement Group, LLC</b> shared a document with you for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            05/31/2024
                                        </div>
                                    </div>
                                </eventitem>

                                <eventitem class="event">
                                    <div class="label">
                                        <i class="add user flat disabled icon"></i>
                                    </div>
                                    <div class="content">
                                        <div class="summary">


                                            <b>R &amp; P Settlement Group, LLC</b> added you as a <b>Buyer</b> for <b>3661 Cragsmoor Road</b>.


                                        </div>
                                        <div class="date">
                                            05/31/2024
                                        </div>
                                    </div>
                                </eventitem>

                            </div><!--
            <a class="ui bottom attached button">
              View all activity
            </a> -->

                        </div>
                    </notificationpopup>




                    <userdropdown class="ui floating dropdown item">
                        <div class="text">
                            Liping Chen
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="header">Account</div>
                            <a class="item" href="/user/settings">
                                <i class="settings icon"></i>
                                Settings
                            </a>








                            <visitdesk class="item">
                                <i class="help icon"></i>
                                Help
                            </visitdesk>

                            <a class="item" href="/logout" data-value="logout">
                                <i class="sign out icon"></i>
                                Logout
                            </a>
                        </div>
                    </userdropdown>

                </div>
            </div>
        </div>
    </topbar>
    <mobilemenulinks>

        <div class="ui fluid vertical accordion text menu">
            <div class="header item">
                Logged in as
                <b>
                    Liping Chen
                </b>
            </div>


            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    Order #24-8728-AB
                </a>
                <div class="active content menu">

                    <a class="item" href="/orders/RLnFFgXcgk3mY6Le3/overview">
                        Overview

                    </a>

                    <a class="active item" href="/orders/RLnFFgXcgk3mY6Le3/tasks">
                        Tasks

                        <span class="ui label">1</span>

                    </a>

                    <a class="item" href="/orders/RLnFFgXcgk3mY6Le3/inbox">
                        Inbox

                    </a>

                    <a class="item" href="/orders/RLnFFgXcgk3mY6Le3/documents">
                        Documents

                    </a>

                    <a class="item" href="/orders/RLnFFgXcgk3mY6Le3/activity">
                        Activity

                    </a>

                </div>
            </div>
            <div class="item">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Connect
                </div>
                <div class="content menu">

                    <a class="active item" href="/order-list">
                        Orders
                    </a>

                    <a class="item" href="/reports">
                        Reports
                    </a>

                    <a class="item manage" href="/manage">
                        Manage
                    </a>

                    <a class="item" href="/user/settings">
                        User Settings
                    </a>


                    <visitdesk class="item">
                        Help
                    </visitdesk>

                    <a class="item" href="/logout" data-value="logout">
                        Logout
                    </a>
                </div>
            </div>


        </div>

    </mobilemenulinks>








    <page>
        <pageheader class="inverted">





            <bg></bg>
            <div class="ui container">
                <h2 class="ui inverted icon header">
                    <i class="home like flat icon"></i>

                    9354 Westering Sun, Columbia, MD

                    <div class="sub header">

                        <div class="ui large horizontal label">
                            Purchase
                        </div>

                        <div>
                            Order #24-8728-AB
                        </div>

                    </div>
                </h2>
            </div>




            <tabcontainer class="ui container">


                <mobilemenu class="ui tabular dashboard menu">

                    <a class="item" href="/orders/RLnFFgXcgk3mY6Le3/overview" data-url="/orders/RLnFFgXcgk3mY6Le3/overview">

                        <name>
                            Overview
                        </name>

                    </a>

                    <a class="active item" href="/orders/RLnFFgXcgk3mY6Le3/tasks" data-url="/orders/RLnFFgXcgk3mY6Le3/tasks">

                        <name>
                            Tasks
                        </name>

                        <span class="horizontal tasksLabel ui label">1</span>

                    </a>

                    <a class="item" href="/orders/RLnFFgXcgk3mY6Le3/inbox" data-url="/orders/RLnFFgXcgk3mY6Le3/inbox">

                        <name>
                            Inbox
                        </name>

                    </a>

                    <a class="item" href="/orders/RLnFFgXcgk3mY6Le3/documents" data-url="/orders/RLnFFgXcgk3mY6Le3/documents">

                        <name>
                            Documents
                        </name>

                    </a>

                    <a class="item" href="/orders/RLnFFgXcgk3mY6Le3/activity" data-url="/orders/RLnFFgXcgk3mY6Le3/activity">

                        <name>
                            Activity
                        </name>

                    </a>

                </mobilemenu>


                <tabmenu class="ui five item huge tabular menu">

                    <a class="item" data-id="overview" href="/orders/RLnFFgXcgk3mY6Le3/overview">

                        <name>
                            Overview
                        </name>

                    </a>

                    <a class="active item" data-id="tasks" href="/orders/RLnFFgXcgk3mY6Le3/tasks">

                        <name>
                            Tasks
                        </name>

                        <span class="horizontal tasksLabel ui label">1</span>

                    </a>

                    <a class="item" data-id="inbox" href="/orders/RLnFFgXcgk3mY6Le3/inbox">

                        <name>
                            Inbox
                        </name>

                    </a>

                    <a class="item" data-id="documents" href="/orders/RLnFFgXcgk3mY6Le3/documents">

                        <name>
                            Documents
                        </name>

                    </a>

                    <a class="item" data-id="activity" href="/orders/RLnFFgXcgk3mY6Le3/activity">

                        <name>
                            Activity
                        </name>

                    </a>

                </tabmenu>
            </tabcontainer>

        </pageheader>
        <opentab id="orderTasksContainer">





            <div class="ui task container">

                <taskprogress>


                    <div class="ui small indicating progress active" data-percent="80">
                        <div class="bar" style="transition-duration: 300ms; width: 80%;"></div>
                        <div class="label">4 of 5 tasks complete</div>
                    </div>


                </taskprogress>




                <div class="ui huge breadcrumb">
                    <a class="section" href="/orders/RLnFFgXcgk3mY6Le3/tasks">
                        Tasks
                    </a>
                    <i class="right chevron divider icon"></i>
                    <div class="section">
                        Select Your Title Vesting
                    </div>
                </div>

                <task id="vestingInformationTask">

                    <div class="ui right rail" style="">







                        <div class="ui sticky" style="left: 842px; width: 279px !important; height: 393.508px !important;">
                            <tasksummary class="ui fluid card">
                                <div class="image">
                                    <img src="/images/artwork/deed.png">
                                </div>
                                <div class="content">
                                    <table class="ui compact very basic striped table">
                                        <thead>
                                        <tr>
                                            <th colspan="2">
                                                <i class="info circle flat icon" data-offset="15"></i>
                                                About This Form
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <p>Your settlement agency will use this information to prepare title documents for your closing.</p>
                                                <div class="ui divider"></div>
                                                <p>If you have any questions please contact
                                                    <b>Angelina Barbieri</b>
                                                    at R &amp; P Settlement Group, LLC.
                                                </p>

                                                <helpmessage class="ui fluid basic button">Send Message</helpmessage>
                                                <composemessagepopup class="ui basic titled popup">

                                                </composemessagepopup>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tasksummary>
                        </div>




                    </div>









                    <dataentrystatus class="ui message" style="">
                        <div class="header">

                            <div class="ui small indicating progress success" data-percent="100">
                                <div class="bar" style="transition-duration: 300ms; width: 100%;"></div>
                            </div>
                            2 of 2
                            sections completed
                            <context>

                                for
                                <b>Vesting Information</b>

                            </context>

                            <missinginfo>
                                <span>What's Missing?</span>
                                <i class="info circle icon"></i>
                            </missinginfo>
                            <missinginfopopup class="ui flowing popup">
                                <p>Please complete the following steps:</p>
                                <div class="ui ordered list">

                                    <div class="completed item">

                                        <i class="check icon"></i>

                                        Select how you will be vesting title
                                    </div>

                                    <div class="completed item">

                                        <i class="check icon"></i>

                                        Percentage values must sum up to 100%
                                    </div>

                                </div>
                            </missinginfopopup>


                        </div>
                    </dataentrystatus><dataentrystatus class="ui message placeholder" style="display: none;">
                    <div class="header">

                        <div class="ui small indicating progress success" data-percent="100">
                            <div class="bar" style="transition-duration: 300ms; width: 100%;"></div>
                        </div>
                        1 of 1
                        sections completed
                        <context>

                            for
                            <b>Vesting Information</b>

                        </context>

                        <missinginfo>
                            <span>What's Missing?</span>
                            <i class="info circle icon"></i>
                        </missinginfo>
                        <missinginfopopup class="ui flowing popup">
                            <p>Please complete the following steps:</p>
                            <div class="ui ordered list">

                                <div class="completed item">

                                    <i class="check icon"></i>

                                    Select how you will be vesting title
                                </div>

                            </div>
                        </missinginfopopup>


                    </div>
                </dataentrystatus>



                    <form id="SchemaForm_5" class="ui form">


                        <h4 class="ui dividing status completed header">
                            How Would You Like to be Vested?
                        </h4>
                        <div class="indent">
                            <div class="ui equal width vertically divided grid">

                                <div class="row">
                                    <div class="column">






                                        <div data-field-name="sole owner" class="field">
                                            <div class="ui toggle checkbox checked">



                                                <input type="checkbox" data-schema-key="sole owner" name="sole owner" tabindex="0" class="hidden">


                                                <label>



                                                    Sole Owner













                                                </label>


                                            </div>
                                        </div>




                                        <vestinginfo class="ui message">One party owns the property.</vestinginfo>



                                    </div>
                                </div>

                                <div class="row">
                                    <div class="column">






                                        <div data-field-name="tenants in common" class="field">
                                            <div class="ui toggle checkbox checked">



                                                <input type="checkbox" data-schema-key="tenants in common" name="tenants in common" tabindex="0" class="hidden">


                                                <label>



                                                    Tenants In Common













                                                </label>


                                            </div>
                                        </div>




                                        <vestinginfo class="ui positive message"> Each owner holds his/her own interest.  In the event an owner passes away, his/her interest passes to his/her heirs.</vestinginfo>


                                        <h4 class="ui header percentage"> Ownership Percentage </h4>
                                        <div class="ui equal width vertically divided list">

                                            <div class="ui item">

                                                <div class="three fields">






                                                    <div data-field-name="borrowers.0.percentage" class="required field">



                                                        <label>



                                                            Liping Chen













                                                        </label>



                                                        <div class="ui input">






                                                            <input type="text" inputmode="decimal" name="rHoquEG72mcKdrQSq" data-schema-key="borrowers.0.percentage" class="text_input" tabindex="0" autocomplete="off">


                                                        </div>
                                                    </div>




                                                </div>

                                            </div>

                                        </div>


                                    </div>
                                </div>

                                <div class="row">
                                    <div class="column">






                                        <div data-field-name="joint tenants" class="field">
                                            <div class="ui toggle checkbox">



                                                <input type="checkbox" data-schema-key="joint tenants" name="joint tenants" tabindex="0" class="hidden">


                                                <label>



                                                    Joint Tenants













                                                </label>


                                            </div>
                                        </div>




                                        <vestinginfo class="ui message">Each owner holds an undivided interest in the entire property.  In the event an owner passes away, his/her interest transfers to the surviving owner(s).</vestinginfo>



                                    </div>
                                </div>

                                <div class="row">
                                    <div class="column">






                                        <div data-field-name="tenants by the entirety" class="field">
                                            <div class="ui toggle checkbox">



                                                <input type="checkbox" data-schema-key="tenants by the entirety" name="tenants by the entirety" tabindex="0" class="hidden">


                                                <label>



                                                    Tenants By The Entirety













                                                </label>


                                            </div>
                                        </div>




                                        <vestinginfo class="ui message">Only married couples may hold title in this manner.  Each spouse holds an undivided interest in the property.  Should one spouse predecease the other, the property transfers to the surviving spouse.</vestinginfo>



                                    </div>
                                </div>

                            </div>
                        </div>

                        <h4 class="ui dividing header">

                            Update Information

                        </h4>
                        <div class="indent">

                            <div class="ui secondary segment">

                                <p>
                                    You're all set to resubmit.
                                    Please verify the information above appears correctly before submitting this data.
                                </p>
                                <submitrequest class="ui huge primary button">

                                    Submit Revision

                                </submitrequest>


                                <cancelresubmission class="ui huge button">
                                    Cancel
                                </cancelresubmission>

                            </div>
                        </div>


                    </form>







                </task>


            </div>



        </opentab>
    </page>



    <footer class="">
        <div class="ui container">
            <links class="ui horizontal link list">
                <a class="item" href="https://www.qualia.com/connect-tos" target="_blank">Terms of Service</a>
                <a class="item" href="https://www.qualia.com/privacy-policy" target="_blank">Privacy Policy</a>

            </links>

            <img src="https://connect.qualia.com/images/footer-logo.png" class="ui inline logo image" alt="Qualia mark">
            <copyright>© 2024 Qualia Labs, Inc. All Rights Reserved</copyright>

        </div>
    </footer>

</app>